.signin-box{
  display: flex;
    justify-content: center; 
    align-content: center;
    width: 100%;
    height: 80vh ;
}
.mybtn{
  border: none;
  background-color: rgb(6, 6, 169);
  color: white;
  margin: 5% 0%;
  height: 9%;
  font-size: 1.1rem;
}
.or {
    
  text-align: center;
  margin: 21px;
}
.or:before, .or:after {
  background-color: #777575;
  content: "";
  display: inline-block;
  height: 0.5px;
  position: relative;
  vertical-align: middle;
  width: 54%;
}
.or:before {
  right: 0.5em;
  margin-left: -50%;
}
legend:after {
  left: 0.5em;
  margin-right: -50%;
}

